.dr{
  display: inline-block;
  float: right;
}

.detalle p{
  display: inline-block;
}

.detalle h2{
  margin: 0;
  font-size: 23px;
}

.dia{
  color: gray;
  font-size: 18px;
}

.dia span{
  font-size: 28px;
}