th, td{
	line-height: 1;
}

.dr{
  display: inline-block;
  float: right;
}

.detalle p{
  display: inline-block;
}

.detalle h2{
  margin: 0;
  font-size: 23px;
  color: #012357;
}

.dia{
  color: gray;
  font-size: 18px;
}

.dia span{
  font-size: 28px;
}

.dinero div{
	font-size: 25px;
}

.dinero a{
	color: #a4a4a4;
}

.dinero a:hover{
	color: #424242;
}