$body-bg: #3498db;
$brand-prymary: #c0392b;
$jumbotron-bg: white;
$font-family-sans-serif: 'lato', 'helvetica neue', 'helvetica', 'arial', 'sans-serif';

@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);